@font-face {
    font-family: 'clastabold';
    src: url('assets/fonts/clasta/clasta.eot');
    src: url('assets/fonts/clasta/clasta.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/clasta/clasta.woff2') format('woff2'),
         url('assets/fonts/clasta/clasta.woff') format('woff'),
         url('assets/fonts/clasta/clasta.ttf') format('truetype'),
         url('assets/fonts/clasta/clasta.svg#clastabold') format('svg');
    font-weight: normal;
    font-style: normal;

}