@font-face {
    font-family: 'Aristelle';
    src: url('assets/fonts/aristelle/aristellescript-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/aristelle/aristellescript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}